html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9fb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 🔥 tambahan penting */
    background-color: #6BA45F;
    padding: 15px 30px;
}

/* KIRI */
.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
}

/* KANAN */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}


nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    flex: 1;
    padding: 40px;
}

footer{
    background-color: #6BA45F;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
}


/* Styling logo agar rapi */
nav .logo {
    height: 40px;
    width: auto;
    vertical-align: middle;
}

nav .logo-link {
    display: flex;
    align-items: center;
}
